#wrap{
	width: 1200px;
	height: 800px;
	border: 1px solid grey;
	margin: 0 auto;
}

#header{
	width: 700px;
	border: 1px solid red;
	margin: 5px auto;
}

#login{
	border: 1px solid blue;
	display: block;
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

#carusel{
	width: 500px;
	margin: 10px auto;
	border: 1px solid grey;
}

.block{
	width: 500px;
	float: left;
	margin: 10px 47px;
	border: 1px solid red;
}

.block h1{
	text-align: center;
}

.block p{
	text-align: center;
}

.block a{

}

/*блоки для стилизации вида меню*/
#menu{
	border: 1px solid #ffaadd;
}

#menu ul li{
	border: 1px solid red;
	margin: 5px 10px;
	display: inline;
}

#menu ul li a{
	font:  20px Verdana, Arial, Helvetica, sans-serif;
}

#menu ul li:hover{
	background-color: blue;
}

/*#show{
	display: none;
}*/
/*****/
